.drill{
    //note the defautl style is the mobile
  //background-color: $lightGrayishBlue;
   // background-image: url('/images/drill3.jpg');
   //background-image: url('/images/imtest.JPG');
   background-image: url('/images/imgedrill.JPG');
   text-align: center;
   background-color: white;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
  // opacity: 0.5;
   visibility: inherit;
   text-align: center;
   @include breakpoint-up(medium){
       text-align: left;
   }
   &__intro {
        margin-bottom: 3.75rem;
        @include breakpoint-up(large){ 
            width:65%;
        }
     }
   

   &__grid{
       @include breakpoint-up(medium){
           display:flex;
           flex-wrap:wrap;
       }
   }

   &__items{  
       padding: 0.9375rem;
       //border:1px solid magenta;
       @include breakpoint-up(medium){
           flex: 0 0 50%;
       }
       @include breakpoint-up(large){
           flex:1;
       }
   }

   &__icon {
       margin-bottom: 1.875rem;
       @include breakpoint-up(large){
           margin-bottom: 2.75rem;
       }
       
   }

   &__title{
       font-size: 1.25rem;
      //font-weight: 300;
      font-weight:400;
       line-height: 1.15;
       color: $darkBlue; 
       margin-bottom: 1rem;//24px
       color: darkred;
       @include breakpoint-up(large){
         //  font-size: 1.5rem; update for petronees
           font-size:1.2rem;
           margin-bottom: 1.5rem;//34px   
       }

   }

  
  &__description {
      font-size: 0.875rem;
      line-height: 1.5;
  }




}