// colors

$darkBlue:hsl(233, 26%, 24%);
$limeGreen:hsl(136, 65%, 51%);
$limered:hsl(0, 68%, 38%);
$limered2:hsl(0, 68%, 19%);
$redlight:hsl(0, 68%, 54%);
$reddark:hsl(0, 68%, 35%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
//          background:linear-gradient(to right ,$redlight,$reddark); 
// background:linear-gradient(to right ,$limeGreen,$brightCyan);
// font size
$font-med:1.125rem; // 18px;
$font-sm: 0.875rem; // 14px;
$font-lg:1.25rem;
$font-xlarge: 3.25rem; // for x l;arge font

