.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 100ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 100ms ease-in-out forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, * ::before, *::after {
  box-sizing: border-box;
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.15;
  color: darkred;
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.2rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-bottom: 6rem;
  }
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  color: hsl(233, 8%, 62%);
  font-size: 0.875rem;
  line-height: 1.3;
  overflow-x: hidden;
}
body.noscroll {
  overflow: hidden;
}
@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ac-c {
  align-items: center;
}

button, .button {
  display: inline-block;
  position: relative;
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, hsl(0, 68%, 54%), hsl(0, 68%, 19%));
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
  font-weight: 400;
  transition: opacity 300ms ease-in-out;
}
button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  border-radius: 50px;
  border: 0px;
}
button:hover::before, .button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
}
.header nav {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}
.header__logo img {
  width: -0.1875rem;
  height: 4.375rem;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: hsl(233, 26%, 24%);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsla(0, 23%, 61%, 0.68);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  color: white;
  text-align: center;
}
@media (max-width: 63.9375em) {
  .header__cta a.button {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .header__cta {
    grid-area: cta;
    text-align: right;
    justify-self: end;
  }
}
.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: hsl(233, 8%, 62%);
  transition: color 300ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, hsl(0, 68%, 54%), hsl(0, 68%, 35%));
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__links a:hover {
  color: hsl(233, 26%, 24%);
}
.header__links a:hover::before {
  opacity: 1;
}

.hero {
  background-color: hsl(0, 0%, 98%);
  /*css for manual slide navigation*/
  /*css for automatic navigation*/
}
@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero__image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 30.5rem;
}
@media (min-width: 40em) {
  .hero__image {
    min-height: 25rem;
    background-position: center 70%;
  }
}
@media (min-width: 64em) {
  .hero__image {
    flex: 3;
    order: 2;
    height: 29rem;
    background-image: none;
  }
}
@media (min-width: 64em) {
  .hero__image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
  }
}
.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 40em) {
  .hero__image::after {
    background-size: 52%;
  }
}
@media (min-width: 64em) {
  .hero__image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }
}
.hero__text {
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}
.hero__slider {
  width: 578px;
  height: 483px;
  border-radius: 10px;
  overflow: hidden;
  color: black;
  background-size: 94%;
  content: "";
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 150%;
  background-size: 122%;
  background-position: 0% 83%;
}
@media (min-width: 40em) {
  .hero__slider {
    min-height: 25rem;
    background-position: center 70%;
  }
}
.hero__navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.hero__navigation-auto.div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.hero .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
.hero slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 40em) {
  .hero slider {
    min-height: 25rem;
    background-position: center 70%;
  }
}
.hero .slides {
  width: 500%;
  height: 500px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}
@media (min-width: 40em) {
  .hero .slides {
    min-height: 25rem;
    background-position: center 70%;
  }
}
.hero .slides input {
  display: none;
}
.hero .slide {
  width: 20%;
  transition: 2s;
}
.hero .slide .slide__content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(179, 95, 95); /* Fallback color */
  background: rgba(234, 185, 185, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 80%; /* Full width */
  padding: 3px; /* Some padding */
  font: normal normal 20px "Roboto", Arial, sans-serif;
}
.hero .slide .slide__wb-stl-custom6 {
  font: normal normal 46px "Roboto", Arial, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  line-height: 20px;
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  text-transform: none;
}
.hero .slide .slide__top-right {
  position: absolute;
  top: 8px;
  left: 16px;
}
.hero .slide img {
  width: 800px;
  height: 500px;
}
@media (min-width: ) {
  .hero .slide img {
    width: 596px;
    height: 500px;
    min-height: 25rem;
    background-position: center 70%;
  }
}
.hero .navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.hero .manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.hero .manual-btn:not(:last-child) {
  margin-right: 40px;
}
.hero .manual-btn:hover {
  background: #40D3DC;
}
.hero #radio1:checked ~ .first {
  margin-left: 0;
}
.hero #radio2:checked ~ .first {
  margin-left: -20%;
}
.hero #radio3:checked ~ .first {
  margin-left: -40%;
}
.hero #radio4:checked ~ .first {
  margin-left: -60%;
}
.hero .navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.hero .navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.hero .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
.hero #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40D3DC;
}
.hero #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40D3DC;
}
.hero #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40D3DC;
}
.hero #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40D3DC;
}

.feature {
  background-color: hsl(220, 16%, 96%);
  text-align: center;
}
@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}
.feature__intro {
  margin-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .feature__intro {
    width: 65%;
  }
}
.feature__ach a {
  color: inherit;
  text-decoration: none;
}
.feature__ach {
  background: linear-gradient(to right, hsl(220, 16%, 96%), hsl(220, 16%, 96%)), linear-gradient(to right, rgb(154, 72, 72), hsl(0, 0%, 98%), hsl(233, 8%, 62%));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.feature__ach:hover {
  background-size: 0 3px, 100% 3px;
}
@media (min-width: 40em) {
  .feature__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.feature__items {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .feature__items {
    flex: 0 0 50%;
  }
}
@media (min-width: 64em) {
  .feature__items {
    flex: 1;
  }
}
.feature__icon {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .feature__icon {
    margin-bottom: 2.75rem;
  }
}
.feature__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
  color: darkred;
}
@media (min-width: 64em) {
  .feature__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
.feature__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.ach a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
}
.ach a:hover::before,
.ach a:focus::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.afeature {
  background-color: hsl(220, 16%, 96%);
  text-align: center;
}
@media (min-width: 40em) {
  .afeature {
    text-align: left;
  }
}
.afeature__intro {
  margin-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .afeature__intro {
    width: 94%;
  }
}
@media (min-width: 40em) {
  .afeature__intro {
    display: flex;
    flex-wrap: wrap;
  }
}
.afeature__pa {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  text-align: justify;
}
@media (min-width: 40em) {
  .afeature__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.afeature__items {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .afeature__items {
    flex: 0 0 50%;
  }
}
@media (min-width: 64em) {
  .afeature__items {
    flex: 1;
  }
}
.afeature__icon {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .afeature__icon {
    margin-bottom: 2.75rem;
  }
}
.afeature__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
  color: darkred;
}
@media (min-width: 64em) {
  .afeature__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
.afeature__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.drill {
  background-image: url("/images/imgedrill.JPG");
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  visibility: inherit;
  text-align: center;
}
@media (min-width: 40em) {
  .drill {
    text-align: left;
  }
}
.drill__intro {
  margin-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .drill__intro {
    width: 65%;
  }
}
@media (min-width: 40em) {
  .drill__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.drill__items {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .drill__items {
    flex: 0 0 50%;
  }
}
@media (min-width: 64em) {
  .drill__items {
    flex: 1;
  }
}
.drill__icon {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .drill__icon {
    margin-bottom: 2.75rem;
  }
}
.drill__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
  color: darkred;
}
@media (min-width: 64em) {
  .drill__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
.drill__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.main {
  background-image: url("/images/pe2.jpg");
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  visibility: inherit;
  text-align: center;
}
@media (min-width: 40em) {
  .main {
    text-align: left;
  }
}
.main__intro {
  margin-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .main__intro {
    width: 65%;
  }
}
@media (min-width: 40em) {
  .main__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.main__items {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .main__items {
    flex: 0 0 50%;
  }
}
@media (min-width: 64em) {
  .main__items {
    flex: 1;
  }
}
.main__icon {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .main__icon {
    margin-bottom: 2.75rem;
  }
}
.main__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
  color: darkred;
}
@media (min-width: 64em) {
  .main__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
.main__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.tra {
  background-color: hsl(220, 16%, 96%);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  visibility: inherit;
  text-align: center;
}
@media (min-width: 40em) {
  .tra {
    text-align: left;
  }
}
.tra__intro {
  margin-bottom: 3.75rem;
}
@media (min-width: 64em) {
  .tra__intro {
    width: 65%;
  }
}
@media (min-width: 40em) {
  .tra__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.tra__items {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .tra__items {
    flex: 0 0 50%;
  }
}
@media (min-width: 64em) {
  .tra__items {
    flex: 1;
  }
}
.tra__icon {
  margin-bottom: 1.875rem;
}
@media (min-width: 64em) {
  .tra__icon {
    margin-bottom: 2.75rem;
  }
}
.tra__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
  color: darkred;
}
@media (min-width: 64em) {
  .tra__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
.tra__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.cont {
  background-color: hsl(220, 16%, 96%);
  background-image: url("/images/petbuliding.jpg");
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.art__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .art__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .art__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.art__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  color: hsl(233, 8%, 62%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 3px 12px rgba(178, 4, 4, 0.15);
  translate: all 150ms ease-in-out;
}
.art__item:hover {
  transform: scale(1.05);
}
.art__image {
  height: 21.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.art__text {
  padding: 0.875rem 1.5625rem;
}
@media (min-width: 40em) {
  .art__text {
    padding: 1.875rem 1.5625rem;
  }
}
.art__author {
  font-size: 0.725rem;
  margin-bottom: 0.75rem;
}
.art__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: hsl(233, 26%, 24%);
  margin-bottom: 0.5rem;
}
.art__description {
  font-size: 0.8125rem;
}

.articles {
  background-color: hsl(0, 0%, 98%);
}

.article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .article__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  color: hsl(233, 8%, 62%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 3px 12px rgba(178, 4, 4, 0.15);
  translate: all 150ms ease-in-out;
}
.article__item:hover {
  transform: scale(1.05);
}
.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}
@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.5625rem;
  }
}
.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}
.article__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: hsl(233, 26%, 24%);
  margin-bottom: 0.5rem;
}
.article__description {
  font-size: 0.8125rem;
}

.drillarticale {
  background-color: hsl(0, 0%, 98%);
}

.articledr__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .articledr__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .articledr__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.articledr__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  color: hsl(233, 8%, 62%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 3px 12px rgba(178, 4, 4, 0.15);
  translate: all 150ms ease-in-out;
}
.articledr__item:hover {
  transform: scale(1.05);
}
.articledr__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.articledr__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}
@media (min-width: 40em) {
  .articledr__text {
    padding: 1.875rem 1.5625rem;
  }
}
.articledr__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}
.articledr__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: hsl(233, 26%, 24%);
  margin-bottom: 0.5rem;
}
.articledr__description {
  font-size: 0.8125rem;
}

.miles {
  background-color: hsl(0, 0%, 98%);
}

.mile__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .mile__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .mile__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mile__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  color: hsl(233, 8%, 62%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 3px 12px rgba(178, 4, 4, 0.15);
  translate: all 150ms ease-in-out;
}
.mile__item:hover {
  transform: scale(1.05);
}
.mile__image {
  height: 24.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0.5rem;
}
.mile__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}
@media (min-width: 40em) {
  .mile__text {
    padding: 1.875rem 1.5625rem;
  }
}
.mile__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}
.mile__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: hsl(233, 26%, 24%);
  margin-bottom: 0.5rem;
}
.mile__description {
  font-size: 0.8125rem;
}

.mans {
  background-color: hsl(0, 0%, 98%);
}

.man__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .man__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .man__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.man__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  color: hsl(233, 8%, 62%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 3px 12px rgba(178, 4, 4, 0.15);
  translate: all 150ms ease-in-out;
}
.man__item:hover {
  transform: scale(1.05);
}
.man__image {
  height: 24.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0.5rem;
}
@media (min-width: 40em) {
  .man__image {
    padding: 10rem;
  }
}
.man__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}
@media (min-width: 40em) {
  .man__text {
    padding: 1.875rem 1.5625rem;
  }
}
.man__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}
.man__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: hsl(233, 26%, 24%);
  margin-bottom: 0.5rem;
}
.man__description {
  font-size: 0.8125rem;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
  padding: 2.5rem;
  text-align: center;
}
.footer a {
  color: hsl(0, 0%, 100%);
}
@media (min-width: 64em) {
  .footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    justify-items: start;
    gap: 1rem;
  }
}
.footer__logo {
  display: inline-block;
}
@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}
@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    align-self: end;
  }
}
.footer__social a {
  display: inline-block;
  height: 1.25rem;
}
.footer__social a svg path {
  transition: fill 150ms ease-in-out;
}
.footer__social a:hover svg path {
  fill: hsl(0, 68%, 54%);
}
.footer__social a:not(:last-child) {
  margin-right: 1rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
}
@media (min-width: 64em) {
  .footer__links {
    justify-content: space-between;
    align-items: start;
  }
}
.footer__links a {
  line-height: 2.25;
  transition: color 150ms ease-in-out;
}
.footer__links a:hover {
  color: hsl(0, 68%, 54%);
}
@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}
@media (min-width: 64em) {
  .footer__links.col3 {
    grid-area: links3;
  }
}
@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}
@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    justify-self: end;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
  color: hsl(233, 8%, 62%);
}
@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    align-self: end;
    justify-self: end;
  }
}/*# sourceMappingURL=sytle.css.map */